<div class="data-table-container">
    <header class="data-table-header">
        <div class="data-table-header__label">
            <span class="fs-title">Datos Calidad Cuenca</span>
        </div>

        <div class="data-table-header__actions">
            <button class="btn btn--l btn--black btn--icon" lx-ripple>
                <i class="mdi mdi-filter-variant"></i>
            </button>

            <lx-dropdown position="right" over-toggle="true">
                <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                    <i class="mdi mdi-dots-vertical"></i>
                </button>

                <lx-dropdown-menu>
                    <ul>
                        <li><a class="dropdown-link">Option1</a></li>
                        <li><a class="dropdown-link">Option2</a></li>
                        <li><a class="dropdown-link">Option3</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-link dropdown-link--is-header">Option4</a></li>
                        <li><a class="dropdown-link">Option5</a></li>
                    </ul>
                </lx-dropdown-menu>
            </lx-dropdown>
        </div>
    </header>

    <table class="data-table">
        <thead>
            <tr class="data-table__selectable-row">
                <th></th>
                <th>Temperatura</th>
                <th>TF</th>
                <th>Ph</th>
                <th>Conductividad</th>
                <th class="data-table__sortable-cell data-table__sortable-cell--desc">Dureza</th>
            </tr>
        </thead>

        <tbody>
            
            <tr class="data-table__selectable-row" ng-repeat="sensor in sensors">
                <td></td>
                <td>{{sensor.stemp}}</td>
                <td>{{sensor.stemp}} </td>
                <td>{{sensor.sph}}</td>
                <td>{{sensor.sconduct}}</td>
                <td>{{sensor.sdureza}}</td>
           </tr>

            
        </tbody>
    </table>
</div>