<div class="data-table-container">
    <header class="data-table-header">
        <div class="data-table-header__label">
            <span class="fs-title">Datos Calidad Cuenca</span>
        </div>

        <div class="data-table-header__actions">
            <button class="btn btn--l btn--black btn--icon" lx-ripple>
                <i class="mdi mdi-filter-variant"></i>
            </button>

            <lx-dropdown position="right" over-toggle="true">
                <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                    <i class="mdi mdi-dots-vertical"></i>
                </button>

                <lx-dropdown-menu>
                    <ul>
                        <li><a class="dropdown-link">Option1</a></li>
                        <li><a class="dropdown-link">Option2</a></li>
                        <li><a class="dropdown-link">Option3</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-link dropdown-link--is-header">Option4</a></li>
                        <li><a class="dropdown-link">Option5</a></li>
                    </ul>
                </lx-dropdown-menu>
            </lx-dropdown>
        </div>
    </header>

    <table class="data-table">
        <thead>
            <tr class="data-table__selectable-row">
                <th>Nro</th>
                <th>Parametro</th>
                <th>Unidad</th>
                <th class="bgc-blue-500">Clase A - Min</th>
                <th class="bgc-blue-500">Clase A - Max</th>
                <th class="bgc-green-800">Clase B - Min</th>
                <th class="bgc-green-800">Clase B - Max</th>
                <th class="bgc-yellow-300">Clase C - Min</th>
                <th class="bgc-yellow-300">Clase C - Max</th>
                <th class="bgc-yellow-900">Clase D - Min</th>
                <th class="bgc-lime-900">Clase D - Max</th>
                <th class="bgc-blue-500">Formato</th>
                <th class="bgc-blue-800">Parámetros C.Agua</th>

               
            </tr>
        </thead>

        <tbody>
            
            <tr >
                <td>1</td>
                <td>Arsenico total (c/As)</td>
                <td>mg/L</td>
                <td>0,00</td>
                <td>0,05</td>
                <td></td>
                <td>0,05</td>
                <td></td>
                <td>0,05</td>
                <td>0,05</td>
                <td>0,1</td>
                <td>0</td>
                <td>0.001</td>
           </tr>
           <tr >
                <td>2</td>
                <td>Arsenico total (c/As)</td>
                <td>mg/L</td>
                <td>0,00</td>
                <td>0,05</td>
                <td></td>
                <td>0,05</td>
                <td></td>
                <td>0,05</td>
                <td>0,05</td>
                <td>0,1</td>
                <td>0</td>
                <td>0.001</td>
           </tr>
           <tr >
                <td>3</td>
                <td>Arsenico total (c/As)</td>
                <td>mg/L</td>
                <td>0,00</td>
                <td>0,05</td>
                <td></td>
                <td>0,05</td>
                <td></td>
                <td>0,05</td>
                <td>0,05</td>
                <td>0,1</td>
                <td>0</td>
                <td>0.001</td>
           </tr>
           <tr >
                <td>4</td>
                <td>Arsenico total (c/As)</td>
                <td>mg/L</td>
                <td>0,00</td>
                <td>0,05</td>
                <td></td>
                <td>0,05</td>
                <td></td>
                <td>0,05</td>
                <td>0,05</td>
                <td>0,1</td>
                <td>0</td>
                <td>0.001</td>
           </tr>
           <tr >
                <td>5</td>
                <td>Arsenico total (c/As)</td>
                <td>mg/L</td>
                <td>0,00</td>
                <td>0,05</td>
                <td></td>
                <td>0,05</td>
                <td></td>
                <td>0,05</td>
                <td>0,05</td>
                <td>0,1</td>
                <td>0</td>
                <td>0.001</td>
           </tr>
           <tr >
                <td>6</td>
                <td>Arsenico total (c/As)</td>
                <td>mg/L</td>
                <td>0,00</td>
                <td>0,05</td>
                <td></td>
                <td>0,05</td>
                <td></td>
                <td>0,05</td>
                <td>0,05</td>
                <td>0,1</td>
                <td>0</td>
                <td>0.001</td>
           </tr>
           <tr >
                <td>7</td>
                <td>Arsenico total (c/As)</td>
                <td>mg/L</td>
                <td>0,00</td>
                <td>0,05</td>
                <td></td>
                <td>0,05</td>
                <td></td>
                <td>0,05</td>
                <td>0,05</td>
                <td>0,1</td>
                <td>0</td>
                <td>0.001</td>
           </tr>
           <tr >
                <td>8</td>
                <td>Arsenico total (c/As)</td>
                <td>mg/L</td>
                <td>0,00</td>
                <td>0,05</td>
                <td></td>
                <td>0,05</td>
                <td></td>
                <td>0,05</td>
                <td>0,05</td>
                <td>0,1</td>
                <td>0</td>
                <td>0.001</td>
           </tr>
           <tr >
                <td>9</td>
                <td>Arsenico total (c/As)</td>
                <td>mg/L</td>
                <td>0,00</td>
                <td>0,05</td>
                <td></td>
                <td>0,05</td>
                <td></td>
                <td>0,05</td>
                <td>0,05</td>
                <td>0,1</td>
                <td>0</td>
                <td>0.001</td>
           </tr>
           <tr >
                <td>10</td>
                <td>Arsenico total (c/As)</td>
                <td>mg/L</td>
                <td>0,00</td>
                <td>0,05</td>
                <td></td>
                <td>0,05</td>
                <td></td>
                <td>0,05</td>
                <td>0,05</td>
                <td>0,1</td>
                <td>0</td>
                <td>0.001</td>
           </tr>
           <tr >
                <td>11</td>
                <td>Arsenico total (c/As)</td>
                <td>mg/L</td>
                <td>0,00</td>
                <td>0,05</td>
                <td></td>
                <td>0,05</td>
                <td></td>
                <td>0,05</td>
                <td>0,05</td>
                <td>0,1</td>
                <td>0</td>
                <td>0.001</td>
           </tr>


            
        </tbody>
    </table>
</div>